@{
    ViewBag.Title = "Home Page";
    string s = ViewData["msg"].ToString();
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<h2>date are store in variable using viewdata(type casting)</h2>
<h2>login_page</h2>
